<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link  href="../../static/imagenes/TerpLog.png" rel='icon'>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='bootstrap-5.3.0/js/bootstrap.bundle.js') }}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
    <title>Promotores</title>
</head>
<body>
    <div class="container">
        <h1>Promotores</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Numero</th>
                    <th>Documento</th>
                    <th>Correo</th>
                    
                   
                </tr>
            </thead>
            <tbody>
                {% if not data %}
                    <tr>
                        <td colspan="3" style="text-align: center;">No hay resulados</td> 
                    </tr>
                {% endif %}
                {% for Promotor in data %}
                    <tr>
                        <td>{{ Promotor.idPromotor }}</td>
                        <td>{{ Promotor.nombrePro }}</td>
                        <td>{{ Promotor.numeroPro }}</td>
                        <td>{{ Promotor.documentoPro }}</td>
                        <td>{{ Promotor.correoPro }}</td>
                        <td>
                            
                            </form>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>

    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle"
                             viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
    <div class='btn-group'>
        <button type='button' class='btn btn-tranparent dropdown-toggle' style='padding: 0; border: none; display: flex; align-items: center; gap: 5px;' data-bs-toggle='dropdown' aria-expanded='false' id='btnTogglee'>
            <strong>{{ current_user.correoPro }}</strong>  
        </button>
        <ul class='dropdown-menu' style='padding-left:10px; '>
            <li><a class='dropdown-items' href='#'>Perfil</a></li>
            
            <li><hr class='dropdown-divider'></li>
            
            
            <a class="dropdown-item" href="{{ url_for('MetodosPago.add') }}">Ir a Metodos de pago</a>
            <li><a class='dropdown-item' href="{{url_for('Administrador.logout')}}">Cerrar session</a></li>
        </ul>
    </div>
    </div>
  





    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

