<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link  href="../../static/imagenes/TerpLog.png" rel='icon'>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='estiloi.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="{{ url_for('static', filename='bootstrap-5.3.0/js/bootstrap.bundle.js') }}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>Registro Promotor</title>
</head>
<body id="bdy" class="bg    " >
    <div id="iss">
        <br>
        <center>
            <h1 id="tle">Registro</h1> 
        </center>
       
        <div id="ubic" >

            <img id="ubic" src="{{ url_for('static', filename='imagenes/terp.webp') }}" alt="" style="width: 35%; height: 35%; " >

        </div>

        <form id="fm" class="row g-3 needs-validation" action="{{ url_for('Promotores.registro') }}" method="post"> 
         
    
            <div class="col-md-9">
                <div><br>
                    <div id="sepr">
                        <div>
                            <label id="lbl" for="validationCustom01" class="form-label">Ingrese Su Nombre</label><br>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                            <div class="valid-feedback">
                                Ok
                            </div>
                            <div class="invalid-feedback">
                                Ingrese su Nombre
                            </div>
                        </div>    
                        <div>
                            <label id="lbl" for="validationCustom02" class="form-label">Ingrese Su Documento</label><br>
                            <input type="number" class="form-control" id="apellido" name="documento" required>
                            <div class="valid-feedback">
                                Ok
                            </div>
                            <div class="invalid-feedback">
                                Ingrese su Documento
                            </div>
                        </div>
                    </div>
                    <div id="sepr">
                        <div>    
                            <br><label id="lbl" for="validationCustom03" class="form-label">Ingrese Su Correo</label><br>
                            <br><input type="email" class="form-control" id="edad" name="correo" required>
                            <div class="valid-feedback">
                                Ok
                            </div>
                            <div class="invalid-feedback">
                                Ingrese su Correo
                            </div>
                        </div>
                        <div>
                            <br><label id="lbl" for="validationCustom04" class="form-label">Ingrese Su Celular</label><br>
                            <br><input type="number" class="form-control" id="correo" name="celular" required>
                            <div class="valid-feedback">
                                Ok
                            </div>
                            <div class="invalid-feedback">
                                Ingrese su Celular
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="col-md-12">
                    <br><br>
                    <label id="lbl" for="validationCustom05" class="form-label">Ingrese su Contraseña</label>
                    <br><input type="password" class="form-control" id="contrasena" name="contrasena" required>
                    <div class="valid-feedback">
                        Ok
                    </div>
                    <div class="invalid-feedback">
                        Ingrese su Contraseña
                    </div>
                </div> 
                <br>
                <center><a class="shining-text" href="{{ url_for('Administrador.login') }}">Ya tienes una cuenta? Inicia Sesion!</a></center>
                <br><br>
                <div id="lbl" class="col-12">
                    <button id="lbl" class="btn btn-primary"  href="{{ url_for('Administrador.login') }}" type="submit" >Registrarse</button>
                </div>
            </div>
        </form>
    </div>
    
    <script>
        (() => {
            'use strict'
            const forms = document.querySelectorAll('.needs-validation')
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
    
                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
    <style>
        @keyframes shining {
            0% {
                color: #013cff;
            }
    
            50% {
                color: rgb(0, 251, 255);
                text-shadow: 0 0 50px rgb(170, 236, 255);
            }
    
            100% {
                color: #013cff;
            }
        }
    
        .shining-text {
            animation: shining 1s linear infinite;
            text-decoration: none;
        }
</body>
</html>